@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

@model List<QuartzScheduler.Web.Models.JobTriggerViewModel>
<img id="spinner" src="~/Content/ajax-loader.gif" style="display: none; position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -100px;" />
<div>
    <div id="jobGrid">
        @{Html.RenderAction("JobList", "Home");}
    </div>
</div>

@Html.Partial("AddJob")